.bg-navbar {
    background-color: #2ce0b7;
}

.alert {
    margin-top: 1rem;
}

main {
    padding-top: 3.5rem;
}

#login-form,
#signup-form,
#create-form {
    margin-top: 2rem;
}

.errorlist {
    list-style: none;
    color: red;
    padding-left: 1rem;
    font-size: 0.9rem;
}

/* Logged in main page stuff */

.section-header {
    margin-top: 1rem;
    margin-left: 1rem;
}

.action-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-divider {
    margin-top: 2rem;
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,.1), rgba(0,0,0,.1), rgba(255,255,255,.1));
}

.chains-box {
    margin-top: 1rem;
}

.chain-progress {
    height: 1.5rem;
    margin-top: 1rem;
}

.view-chain-button {
    margin-left: 1rem;
}

/* Chain page stuff */

.chain-progress-box {
    padding: 1rem 2rem 2rem;
}

.phrase-card,
.picture-card,
.submit-card {
    margin: 0 1rem 0;
}

.picture-card {
    margin-left: auto;
    margin-right: auto;
}

.blockquote {
    margin-bottom: 0;
}

.connector {
    height: 4rem;
    width: 1px;
    background: rgba(0,0,0,.1);
    margin: auto;
}

.phrase-input {
    font-size: 1.25rem;
    height: 5rem!important;
}