.bg-navbar {
    background-color: #2ce0b7;
}

.alert {
    margin-top: 1rem;
}

main {
    padding-top: 3.5rem;
}

#login-form,
#signup-form {
    margin-top: 2rem;
}

.errorlist {
    list-style: none;
    color: red;
    padding-left: 1rem;
    font-size: 0.9rem;
}