body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -webkit-fill-available;
}

.bg-navbar {
    background-color: #2ce0b7;
}

.alert {
    margin-top: 1rem;
}

main {
    padding-top: 3.5rem;
}

#login-form,
#signup-form,
#create-form {
    margin-top: 2rem;
}

.errorlist {
    list-style: none;
    color: red;
    padding-left: 1rem;
    font-size: 0.9rem;
}

.page-footer {
    background-color: #bdbdbd;
    margin: 5rem 0 0;
    padding: 3rem;
}

.page-footer ul {
    list-style: none;
}

.page-footer a:link {
    color: #ffffff;
}
.page-footer a:visited {
    color: #eeeeee;
}

/* Logged in main page stuff */

.section-header {
    margin-top: 1rem;
    margin-left: 1rem;
}

.action-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-divider {
    margin-top: 2rem;
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,.1), rgba(0,0,0,.1), rgba(255,255,255,.1));
}

.chains-box {
    margin-top: 1rem;
}

.chain-progress {
    height: 1.5rem;
    margin-top: 1rem;
}

.view-chain-button {
    margin-left: 1rem;
}

/* Chain page stuff */

.chain-heading {
    margin: 1rem 0;
}

.chain-heading .lead {
    padding-left: 2rem;
}

.join-chain-btn {
    width: 50%!important;
    margin: 2rem auto 0;
}

.code-display {
    font-weight: bold;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.chain-progress-box {
    padding: 1rem 2rem 2rem;
}

.phrase-card,
.picture-card,
.submit-card {
    margin: 0 1rem 0;
}

.picture-card {
    margin-left: auto;
    margin-right: auto;
}

.blockquote {
    margin-bottom: 0;
}

.connector {
    height: 4rem;
    width: 1px;
    background: rgba(0,0,0,.1);
    margin: auto;
}

.phrase-input {
    font-size: 1.25rem;
    height: 5rem!important;
}

.placeholder {
    background-color: grey;
    height: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
}

.ph1 {
    width: 5rem;
}

.ph2 {
    width: 7rem;
}

.ph3 {
    width: 3rem;
}

.placeholder-image {
    background-color: grey;
    max-width: 100%;
    max-height: auto;
}
