{% extends "web/base.html" %}

{% block title %}
{{ chain.name }}
{% endblock %}

{% load filters %}
{% load mathfilters %}

{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    {% if logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Create New Chain</a>
        </li>
    {% endif %}
</ul>
{% if logged_in %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
    </ul>
{% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
    </ul>
{% endif %}
{% endblock %}

{% block main %}
<div class="container">
    <h1>{{ chain.name }}</h1>
    {% if chain.currentPosition < chain.length %}
    <div class="progress chain-progress">
        <div class="progress-bar" role="progressbar" style="width: {{ chain.currentPosition|div:chain.length|mul:100 }}%;" aria-valuenow="{{ chain.currentPosition }}" 
            aria-valuemin="0" aria-valuemax="{{ chain.length }}">{{ chain.currentPosition }}/{{ chain.length }}</div>
    </div>
    {% endif %}
    <div class="card shadow phrase-card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>This right here is the silliest phrase you ever did see. Har de har har.</p>
                <footer class="blockquote-footer">attackfrog</footer>
            </blockquote>
        </div>
    </div>
    <div class="connector"></div>
    <div class="card shadow picture-card">
        <img class="card-img-top" src="http://i.imgur.com/05mRPJ9.png" alt="attackfrog's Picture" />
        <div class="card-body">
            <blockquote class="blockquote">
                <footer class="blockquote-footer">attackfrog</footer>
            </blockquote>
        </div>
    </div>
    <div class="connector"></div>
    <div class="card shadow phrase-card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>This right here is the silliest phrase you ever did see. Har de har har.</p>
                <footer class="blockquote-footer">attackfrog</footer>
            </blockquote>
        </div>
    </div>
    <div class="connector"></div>
    <div class="card shadow picture-card">
        <img class="card-img-top" src="http://i1285.photobucket.com/albums/a592/AwesomeFish921/Forum%20Game%20Windmill%20Ninja%20Fox_zpsybugeatj.png" alt="attackfrog's Picture" />
        <div class="card-body">
            <footer class="blockquote-footer">attackfrog</footer>
        </div>
    </div>
    <div class="connector"></div>
    <div class="card shadow phrase-card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>This right here is the silliest phrase you ever did see. Har de har har.</p>
                <footer class="blockquote-footer">attackfrog</footer>
            </blockquote>
        </div>
    </div>
    <div class="connector"></div>
    <div class="card shadow phrase-card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p>This right here is the silliest phrase you ever did see. Har de har har.</p>
                <footer class="blockquote-footer">attackfrog</footer>
            </blockquote>
        </div>
    </div>
    <div class="connector"></div>
</div>
{% endblock %}