{% extends "web/base.html" %}

{% block title %}
Play Telephone Online!
{% endblock %}

{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
</ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The online telephone game.</h1>
        <p class="lead">Translate a message back and forth between pictures and text until it becomes something hilariously different!</p>
    </div>
</div>

<div class="container">
    <h2>How does it work?</h2>
    <p><a href="{% url 'signup' %}">Sign up for an account</a> and start your own whisper chain, or join someone else's! You can invite people to join your game with a handy URL or an invite code.</p>
    <p>It's recommended to play with an odd number of people, as that way you'll get to both submit an image and a phrase.</p>
    <p>Once your group is full, it's time for the game to start! The first person starts by coming up with a phrase. Then the second person draws their interpretation of that phrase. Then the person after that tries to guess what the original phrase might have been (or just comes up with an interpretation of their own for the image!)</p>
    <p>Once everyone has gone twice, the game is over! All the phrases and images are revealed, and you can see all the twists and turns that brought you to... wherever it is you ended up.</p>
    <p>Hope you're listening closely: this is Whisperchain!</p>
</div>
{% endblock %}